/* Header.css */
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: bottom right;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.header-scrolled {
    background-color: white; /* Change to the desired color when scrolled */
}
